<a href="https://colab.research.google.com/github/nadiya-k-a/Case-study-on-iris/blob/main/Virtual_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_ipynb('/content/Virtual competition 1.ipynb')

AttributeError: ignored

In [4]:
pd.read_csv('/content/ny-flights (1).csv')

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01 00:00:00,AA,19805,N338AA,1,JFK,LAX,914.0,14.0,1238.0,13.0,0.0,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01 00:00:00,AA,19805,N335AA,3,JFK,LAX,1157.0,-3.0,1523.0,13.0,0.0,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01 00:00:00,AA,19805,N327AA,21,JFK,LAX,1902.0,2.0,2224.0,9.0,0.0,2014-01-01 22:24:00,2014-01-01 19:02:00
3,2014-01-01 00:00:00,AA,19805,N3EHAA,29,LGA,PBI,722.0,-8.0,1014.0,-26.0,0.0,2014-01-01 10:14:00,2014-01-01 07:22:00
4,2014-01-01 00:00:00,AA,19805,N319AA,117,JFK,LAX,1347.0,2.0,1706.0,1.0,0.0,2014-01-01 17:06:00,2014-01-01 13:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,2014-01-31 00:00:00,UA,19977,N54711,1253,ROC,ORD,801.0,-4.0,908.0,4.0,0.0,2014-01-31 09:08:00,2014-01-31 08:01:00
20813,2014-01-31 00:00:00,UA,19977,N77525,1429,LGA,CLE,1522.0,-10.0,1649.0,-31.0,0.0,2014-01-31 16:49:00,2014-01-31 15:22:00
20814,2014-01-31 00:00:00,UA,19977,N37293,1456,LGA,IAH,719.0,-6.0,1006.0,-20.0,0.0,2014-01-31 10:06:00,2014-01-31 07:19:00
20815,2014-01-31 00:00:00,UA,19977,N24729,1457,LGA,IAH,852.0,7.0,1156.0,-6.0,0.0,2014-01-31 11:56:00,2014-01-31 08:52:00
20816,2014-01-31 00:00:00,MQ,20398,N609MQ,3699,BUF,ORD,1208.0,-12.0,1251.0,-19.0,0.0,2014-01-31 12:51:00,2014-01-31 12:08:00

In [ ]:
Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.DataFrame(data,index =['a','b','c','d','e','f','g','h','i','j'])

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

df.info()

**3.** Return the first 3 rows of the DataFrame `df`.

df.head(3)

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

df.loc[:,[ 'animal', 'age']]

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

df.iloc[[3,4,8,],[0,1]]

**6.** Select only the rows where the number of visits is greater than 3.

##there is no row that has visits greater than 3
df.loc[df['visits']>=3]

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

df[df['age'].isnull()]

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

df.loc[(df['animal']== 'cat') &(df['age']<3)]

**9.** Select the rows where the age is between 2 and 4 (inclusive)

df.loc[(df['age']>=2) & (df['age']<=5)]

**10.** Change the age in row 'f' to 1.5.

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).



**12.** Calculate the mean age for each different animal in `df`.



**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.



**14.** Count the number of each type of animal in `df`.



**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).



**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.



**17.** In the 'animal' column, change the 'snake' entries to 'python'.



**18.** Load the ny-flights dataset to Python



**19.** Which airline ID is present maximum times in the dataset



**20.** Draw a plot between dep_delay and arr_delay